%h1.text-primary Events
-# %th Title
-# %th Start time
-# %th End time
-# %th Location
-# %th Agenda
-# %th Address
-# %th Organizer
-# %th
-# %th
-# %th

.overflow-auto.pr-3.card-columns
  - @events.each do |event|
    
    .card.border-primary.mb-3
      %h5.card-header= event.title
      .card-body.text-primary
        %h5.card-title= l event.start_time, :format => :date_format
        %p= event.location
        = link_to 'Show Details', event, class: 'btn btn-outline-primary btn-sm'

    -# %tr
    -#   %td= event.title
    -#   %td= event.start_time
    -#   %td= event.end_time
    -#   %td= event.location
    -#   %td= event.agenda
    -#   %td= event.address
    -#   %td= event.organizer_id
    -#   %td= link_to 'Show', event
    -#   %td= link_to 'Edit', edit_event_path(event)
    -#   %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path, class: 'btn btn-success'



