%h4.block-title Event Details
%p#notice= notice
.card.mb-3.overflow-auto
  .card-header.bg-transparent
    %h5
      %b Title: 
      = @event.title
    
  .card-body
    %h5.card-title
      
      
    .card-text
      %ul.list-group.list-group-flush
        %li.list-group-item.d-flex.justify-content-between
          %b 
            Start time:
            .text-muted= l @event.start_time, :format => :date_format if @event.start_time
          %b
            End time:
            .text-muted= l @event.end_time, :format => :date_format if @event.end_time

        %li.list-group-item.flex-column.align-items-start
          %b.title Location: 
          = @event.location
          %a.secondary-content(href="#")
            %i.material-icons grade
            = icon("star", class: "text-success")
        %li.list-group-item.flex-column.align-items-start
          %b Agenda:
          = @event.agenda
        %li.list-group-item.flex-column.align-items-start
          %b Address:
          = @event.address
        %li.list-group-item.flex-column.align-items-start
          .d-flex.w-100.justify-content-between
            %b Organized by:
          .media.mb-3.mt-3
            = image_tag avatar_url(@event_owner), class: 'mr-3'
            .media-body.align-self-center
              .mt-0.mb-1= @event_owner.email
        %li.list-group-item.flex-column.align-items-start.mb-3
          %b Tags:
          = raw @event.tags.map(&:name).map { |t| t }.join(', ')
      
      %p
        = link_to "Join", event_join_path(:event_id => @event.id), :class=>"btn btn-particular btn-small btn-block"

        %hr/
        - if user_signed_in? && @event.organizer_id == current_user.id
          .cos
            %b 
              Join Requests
              %span.badge.badge-secondary= @pending_requests.size
            %br/
            - if @pending_requests.present?
              %ul.list-unstyled
                - @pending_requests.each do |p|
                  %li.media.mb-3
                    = image_tag avatar_url(p.user), class: 'mr-3'
                    .media-body.align-self-center
                      .mt-0.mb-1= p.user.email
                      = link_to 'Accept', event_accept_request_path(:event_id => @event.id, :attendance_id => p.id), :class=>"btn btn-success btn-small"
                      = link_to 'Reject', event_reject_request_path(:event_id => @event.id, :attendance_id => p.id), :class=>"btn btn-danger btn-small"
            - else
              %b No Pending Requests for this event
          %hr/
          
          %ul.list-unstyled.mb-3
            %b 
              Attendees
              %span.badge.badge-secondary=  @attendees.size
            - @attendees.each do |a|
              %li.media.mb-3.mt-3
                = image_tag avatar_url(a.user), class: 'mr-3'
                .media-body.align-self-center
                  = a.user.email

.btn-group.mt-2
  = link_to 'Back', events_path, class: 'btn tag-item'
  = link_to 'Edit', edit_event_path(@event), class: 'btn tag-item'
  = link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn tag-item'