!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SchedulerKasia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    / With locals
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"}
    / Without locals
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"}
    = javascript_pack_tag 'tavo-calendar'

  %body
    .container.mt-5
    
    .wraper
      %header#page_header
      
        .nav-group-logo
          .cos.mr-3 MyCalendar
          .cos.mr-3= link_to 'Events', events_path
        .col.nav-group
          .text-right
            - if current_user
            
              = current_user.email
              = link_to "Logout", destroy_user_session_path, method: :delete
            - else
              .cos.mr-3= link_to "Login", new_user_session_path
              .cos.mr-3= link_to "SignUp", new_user_registration_path
      
      %main
        %aside#left_sidebar
          .upper
            %h3.text-muted= Time.now.strftime("%A")
            %h1= "#{Time.now.strftime("%d %B")}"
            %h5.text-muted.mb-5= Time.now.strftime("%Y")
            %hr/
          .bottom.mb-5
            - if current_user
              = image_tag avatar_url(current_user), class: 'mb-3 mt-5 zdjecie'
              .align-self-center= current_user.email
          %hr/
          .widget-main.mt-5
            %h4.widget-title TAG CLOUD
            -# .line-bottom.text-muted.hrader-title TAG CLOUD   
            - Tag.all.each do |tag|
              .tag-item
                = link_to tag.name, tag_path(tag.name)
                .badge.badge-light.text-sm= tag.events.size

        -#  Czesc glowna
        %section#main
          = yield
        %section#right_sidebar
          .upper#dupa{value: "#{@dates}"}
            #my-calendar
            %hr/
          .bottom
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat recusandae doloremque, maiores nulla ut, iusto tempore veniam dolores ex commodi illo eius nihil. Quisquam, possimus aliquid odio provident itaque magnam!
       
%script
  fetch('http://localhost:5100/dates.json').then(
  function(response) {
  if (response.status !== 200) {
  console.log('Looks like there was a problem. Status Code: ' +
  response.status);
  return;
  }
  response.json().then(function(data) {
  let date = data;

  new TavoCalendar('#my-calendar', {
  selected: date
  });
  });
  }
  ).catch(function(err) {
  console.log('Fetch Error :-S', err);
  });
